@model IEnumerable<File>
@{
    var patient = ViewBag.Patient as Patient;
}
<main role="main" class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row align-items-center mb-3">
            <div class="col-6 col-md-2 text-center">
                <img class="img-Presciption" src="../../asset/profile.png">
            </div>
            <div class="col-6 col-md-2">
                <span class="info-patient"><b>@(patient.FullName)</b></span>
            </div>
            <div class="col-6 col-md-3">
                <span class="info-patient"> National ID : <b>@(patient.NantionalCode)</b></span>
            </div>
            <div class="col-6 col-md-3">
                <span class="info-patient">  Device ID : <b>@(patient.DeviceId)</b></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Files</a>
                        <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">Presciption</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="d-flex justify-content-between Presciption">
                            <div><h6>files</h6>(<span>@(Model.Count())</span> item)</div>
                        </div>
                        <div class="row mt-3">
                            <div class="table-responsive">
                                <table class="table table-striped tb-Presciption ">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"><span>Date And Time</span></th>
                                            <th scope="col"><span>Sessions</span></th>
                                            <th scope="col"><span>Day Count</span></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th scope="row">@(count).</th>
                                                <td>@item.CreateDate</td>
                                                <td>@item.SessionCount</td>
                                                <td>@item.DayCount</td>
                                                <td class="text-right">
                                                    <button id="@item.Id" class="text-info btn-delete btn-file-detail">Show More</button>
                                                </td>
                                            </tr>
                                            count++;
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $("#btn-file-detail").click(function () {
        var fileId = $(this).attr("id");
         $.ajax({
            url: '@Url.Action("Detaile", "File")',
            type: 'Post',
            beforeSend: function () {
                loadingBoxStart();
            },
             data: {
                 fileId: fileId
            },
            success: function () {
            },
            complete: function () {
                loadingBoxStop();
            },
        });
    })
</script>